@charset "UTF-8";
/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/
body{
    background-color: #B5EEC9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#1f442d;
}
h1#principal{
text-align: center;
background-color: #399E5C;
color: white;
font-family: 'Times New Roman', Times, serif;
}
h2{
    color: #516B5A;
}
.basico{
    color: #516b55

}
.intermediario{
    color: #6b6b51
}
.avançado{
    color: #6b5151
}
.destaque{
    color: rgb(250, 42, 5);
}
