@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{ 
    background-image: linear-gradient(to right, #BF8F73, #8C6046);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8C4130;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #A62D2D;
    text-align: center;
    text-shadow: 1px 1px 2px #7e2222;

}
h2{
    color: #BF7069;

}

p {
    text-align: justify;
}
